body {
  padding: 30px;
  font-family: 'Inconsolata', monospace;
  color: black;
}

.title {
  padding: 0px;
  margin: 0px;
}

.intro {
  padding: 30px 0px;
}

.input-section {
  font-size: 14px;
  margin-bottom: 20px;
}

.input-field {
  padding-bottom: 10px;
}

.input-field input {
  width: 80px;
  text-align: center;
}

.display-field {
  font-size: 14px;
}

.iteration-slider {
  margin: 20px 0px;
  font-size: 14px;
  width: 300px;
}

.display-table td {
  padding-right: 30px;
  padding-bottom: 20px;
  font-size: 14px;
}

.matrix-header {
  text-align: center;
  padding-bottom: 10px;
}

.matrix-table td {
  padding: 0px 10px;
  border: 1px solid rgba(0,0,0,.4);
  text-align: center;
}
