body {
  padding: 30px;
  font-family: 'Inconsolata', monospace;
  color: black;
}

.title {
  padding: 0px;
  margin: 0px;
}

.intro {
  padding: 20px 0px;
}

.input-section {
  font-size: 14px;
  margin-top: 30px;
}

.input-field {
  padding-bottom: 10px;
}

.input-field input {
  width: 80px;
  text-align: center;
}

.display-field {
  font-size: 14px;
}

.iteration-slider {
  margin: 20px 0px;
  font-size: 14px;
  width: 300px;
}

.display-table td {
  padding: 0px 10px 20px 10px;
  text-align: -webkit-center;
  font-size: 14px;
}

.display-table .symbol {
  padding: 0px;
  font-size: 50px;
  letter-spacing: -5px;
  color: rgba(0, 0, 0, 0.7);
}

.section-header {
  font-size: 20px;
  padding-bottom: 20px;
}

.matrix-header {
  text-align: center;
  padding-bottom: 10px;
  font-size: 14px;
}

.matrix-table td {
  padding: 0px 10px;
  border: 1px solid rgba(0,0,0,.4);
  text-align: center;
  font-size: 12px;
}

.math-intro {
  margin-bottom: 30px;
}

.math-intro .display-table {
  margin-left: 20px;
}

.math-intro .display-table td {
  padding: 5px;
}

.section {
  float: left;
}

.name {
  margin-left: 15px;
  margin-top: 4px;
  font-style: italic;
}
